caps/**
helloworld/**
sandbox/**
hexdmp/**
clib/**
!caps/caps.asm
!caps/Makefile
!helloworld/helloworld.asm
!helloworld/Makefile
!sandbox/sandbox.asm
!sandbox/Makefile
!hexdmp/hexdmp.asm
!hexdmp/Makefile
!clib/clib.asm
!clib/Makefile
